* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f4f4f4;
}
#wrapper {
  width: 100%;
  overflow: hidden;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
#header {
  padding: 20px 40px 20px 20px;
  margin-left: 170px;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(251, 251, 251, 1) 35%, rgba(242, 242, 242, 1) 70%, rgba(228, 228, 228, 1) 100%);
}
#header .logo h3 {
  font-size: 35px;
  margin-left: 20px;
  color: #606060;
}
#header .logo {
  display: flex;
  align-items: center;
}
#header .sidenav {
  width: 170px;
  padding: 50px 44px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(251, 251, 251, 1) 35%, rgba(242, 242, 242, 1) 70%, rgba(228, 228, 228, 1) 100%);
}
#header .sidenav li {
  list-style: none;
  /* margin-bottom: 80px; */
  margin-bottom: 40px;
}
#header .sidenav a {
  text-decoration: none;
  color: #8f8f8f;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#header .sidenav a img {
  margin: 0 auto 10px;
}
#header .icons {
  display: flex;
  gap: 45px;
}
#header .bell,
#header .chat {
  position: relative;
}
#header .bell span,
#header .chat span {
  position: absolute;
  display: inline-block;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #b50f0f;
  color: #fff;
  font-size: 18px;
  top: -10px;
}
#header .bell span {
  padding: 3px 8px;
  right: -10px;
}
#header .chat span {
  padding: 3px;
  right: -20px;
}
main {
  margin-left: 170px;
}
.main-wrap {
  display: flex;
}
.main-wrap .tabs {
  width: 60%;
  padding: 15px 0 15px 15px;
}
.main-wrap .notification {
  width: 40%;
}
.main-wrap .notification .content,
.main-wrap .notification .content-wrap {
  background-color: #fff;
}
.main-wrap .notification .content-wrap {
  padding: 25px;
}
.main-wrap .notification h6 {
  font-size: 24px;
  color: #606060;
  margin-bottom: 25px;
  padding: 35px 0 0 25px;
}
.main-wrap .notification p {
  font-size: 24px;
  color: #606060;
  margin-bottom: 20px;
}
.main-wrap .notification .content-wrap {
  display: flex;
  justify-content: space-between;
}
.main-wrap .notification .content-wrap .img-box {
  display: flex;
  gap: 20px;
}
.main-wrap .text-wrap span {
  color: #ff2ba6;
  font-size: 20px;
}
.main-wrap .text-wrap1 {
  text-align: right;
}
.main-wrap .text-wrap1 span {
  font-size: 20px;
  color: #a4a4a4;
}
.main-wrap .notification .wrapm {
  margin: 5px 0;
}
.main-wrap .notification .blue {
  color: #107897;
}
.main-wrap .notification .emptyw {
  background-color: #fff;
  height: 1000px;
}
.main-wrap .tab button {
  background-color: transparent;
  border: none;
  font-size: 26px;
  color: #606060;
  min-width: 140px;
  text-align: center;
  position: relative;
}
.main-wrap .tab button.active {
  border-bottom: 3px solid #107897;
  color: #107897;
}
.main-wrap .tab {
  padding: 35px 0 15px;
}
.main-wrap .tab button span {
  background-color: #107897;
  color: #fff;
  display: inline-block;
  position: absolute;
  font-size: 20px;
  border-radius: 50%;
  padding: 3px;
  top: -15px;
  right: -15px;
}
.main-wrap .customer {
  margin-bottom: 15px;
  padding: 5px 15px;
  color: #606060;
  background: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(251, 251, 251, 1) 35%, rgba(242, 242, 242, 1) 70%, rgba(228, 228, 228, 1) 100%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.main-wrap .customer .cn p {
  font-size: 24px;
  margin-left: 20px;
  position: relative;
}
.main-wrap .customer .cn p img {
  position: absolute;
  right: -50px;
  top: 50%;
  transform: translateY(-50%);
}
.main-wrap .customer .cn {
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 10px;
}
.main-wrap .customer .cnp img {
  border: 1px solid #e6e6e6;
}
.main-wrap .customer .cn,
.main-wrap .customer .cnp {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.main-wrap .customer .cnp {
  margin: 20px 0;
}
.main-wrap .customer .cnp p {
  margin-left: 30px;
}

.main-wrap .customer .empty {
  height: 20px;
  background-color: #e6e6e6;
}

/* Order-Page */

.order-main-wraper {
  padding: 32px 25px;
  justify-content: space-between;
}

.customer-message-container {
  max-width: 100%;
  width: 550px;
  background: #fff;
  border-radius: 7px;
}

.search-box {
  width: 100%;
  position: relative;
  padding: 20px;
}

.search-box input {
  width: 100%;
  padding: 12px 23px;
  border-radius: 25px;
  border: 1px solid #d1d1d1;
}

.search-box input::placeholder {
  color: #d1d1d1;
  font-size: 19px;
  line-height: 19px;
}

.search-box input:focus {
  outline: none;
}

.search-box img {
  position: absolute;
  top: 36%;
  right: 40px;
}

.customer-profile {
  display: flex;
  align-items: end;
  padding: 17px;
}

.customer-profile-active {
  background-color: rgba(3, 98, 124, 0.2);
}

.customer-profile-img {
  position: relative;
  margin-right: 17px;
}

.profile-active {
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #03627c;
  top: 0;
  right: 0;
}

.customer-name {
  font-size: 22px;
  font-weight: 300;
  color: #606060;
  margin-bottom: 5px;
}

.customer-message {
  font-size: 19px;
  color: #606060;
}

.date {
  margin-left: auto;
  font-size: 19px;
  color: #606060;
}

.customer-message-box {
  max-width: 100%;
  width: 1100px;
  border-radius: 8px;
  background: #fff;
}

.ads {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 23px;
  background-color: #e9e9e9;
  border-radius: 8px;
}

.ads-content {
  display: flex;
}

.img-box {
  margin-right: 25px;
  width: 152px;
  height: 163px;
}

.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ads-details-top {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.ads-badge {
  background: #107898;
  color: #fff;
  border-radius: 3px;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 16px;
  margin-right: 55px;
}

.ads-rate {
  display: flex;
}

.ads-title {
  font-size: 12px;
  color: #9f9f9f;
  margin-right: 6px;
  line-height: 16px;
}

.ads-star {
  margin-right: 6px;
}

.ads-ratings {
  font-size: 14px;
  line-height: 16px;
  color: #606060;
  margin-right: 30px;
}

.sold {
  font-size: 12px;
  color: #9f9f9f;
  line-height: 16px;
}

.ads-sold-count {
  font-size: 14px;
  line-height: 16px;
  color: #606060;
}

.ads-heading {
  font-size: 18px;
  line-height: 21px;
  color: #606060;
  font-weight: 300;
  margin-bottom: 7px;
}

.ads-text {
  font-size: 16px;
  line-height: 20px;
  color: #606060;
  width: 298px;
}

.ads-readmore {
  font-size: 16px;
  line-height: 20px;
  color: #03627c;
}

.messages-container {
  padding: 30px;
}

.message-customer {
  display: flex;
  align-items: center;
  margin-bottom: 27px;
}

.message-customer img {
  margin-right: 13px;
  width: 55px;
  height: 55px;
}

.date-time {
  font-size: 18px;
  line-height: 29px;
  color: #999999;
}

.message-customer-box {
  box-shadow: 0 1px 2px #00000036;
  padding: 13px 25px 13px 18px;
}

.message-customer-box p {
  font-size: 22px;
  line-height: 37px;
  color: #606060;
  width: 342px;
}

.message-vendor {
  display: flex;
  justify-content: end;
  margin-bottom: 27px;
}

.message-vendor img {
  width: 55px;
  height: 55px;
  margin-top: 30px;
}

.message-vendor-details {
  margin-right: 14px;
}

.vendor-date-time {
  display: inline-block;
  width: 100%;
  text-align: right;
}

.message-vendor-box {
  background: #f0f0f0;
  padding: 11px 25px 9px 17px;
  border-radius: 3px;
}

.message-vendor-box p {
  font-size: 22px;
  line-height: 37px;
  color: #606060;
  width: 350px;
}

.message-input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 23px 27px;
  margin-top: 164px;
}

.sample-box {
  border: 1px solid #cccccc;
  border-radius: 3px;
  margin-right: 22px;
}

.sample-box a {
  display: flex;
  align-items: center;
  padding: 17px;
  text-decoration: none;
  color: #03627c;
  font-size: 16px;
  line-height: 30px;
}

.sample-box img {
  margin-right: 20px;
  width: 30px;
  height: 30px;
}

.message-input-box {
  width: 820px;
  position: relative;
}

.message-input-box input {
  padding: 24px 20px;
  border: 1px solid #cccccc;
  width: 100%;
}

.message-input-box input:focus {
  outline: none;
}

.message-input-box input::placeholder {
  color: #bdbdbd;
  font-size: 22px;
}

.message-btn {
  position: absolute;
  bottom: 25%;
  border: none;
  background-color: transparent;
}

.message-btn-pic {
  right: 10%;
}

.message-btn-send {
  right: 2%;
}

.message-btn-img {
  width: 32px;
  max-width: 32px;
  height: 24px;
  display: inline-block;
}

.sample-title {
  padding: 15px 23px;
  border-bottom: 2px solid #f0f0f0;
}

.sample-title h3 {
  font-size: 24px;
  line-height: 28px;
  color: #606060;
  font-weight: 400;
}

.customer-profile-border-bottom {
  border-bottom: 2px solid #f0f0f0;
}

.sample-box-dark {
  border: none;
}

.sample-box-dark-link {
  padding: 0 !important;
}

.sample-box-dark img {
  margin: 0;
  width: 54px;
  height: 54px;
}

.message-input-sample {
  width: 85% !important;
}

.order-container {
  width: 100%;
  padding: 30px;
  background-color: #f4f4f4;
}

.order-counter {
  display: flex;
  align-items: center;
  margin-bottom: 17px;
}

.order-counter h1 {
  font-size: 25px;
  color: #606060;
  font-weight: normal;
  margin-right: 15px;
}

.order-count {
  font-size: 25px;
  color: #606060;
  font-weight: normal;
}

.order-top-content {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

.customer-detail-wrapper {
  display: flex;
  justify-content: space-between;
  width: 95%;
}

.customer-detail-wrapper span {
  margin-bottom: 12px;
  font-size: 20px;
  color: #606060;
  font-weight: 400;
  display: block;
}

.account-data {
  display: flex;
  justify-content: space-between;
  width: 335px;
}

.account-data img {
  object-fit: contain;
}

.customer-detail-wrapper h2 {
  font-size: 30px;
  color: #107897;
  font-weight: 400;
  line-height: 48px;
}

.text-pink {
  color: #ff2ba6 !important;
}

.order-middle-content {
  display: flex;
  gap: 20px;
}

.order-left-content {
  width: 50%;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
}

.order-items-content-wrapper {
  min-height: 100vh;
}

.order-item-heading h1 {
  font-size: 25px;
  color: #606060;
  font-weight: 400;
  margin-bottom: 35px;
}

.order-item-content {
  display: flex;
  align-items: center;
}

.order-item-content:not(:last-child) {
  margin-bottom: 30px;
}

.order-item-content p {
  font-size: 20px;
  color: #606060;
}

.order-item-content span {
  font-size: 20px;
  color: #606060;
}

.order-item-img-box {
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  margin-right: 32px;
}

.order-item-title {
  margin-right: 70px;
}

.order-items-quantity {
  display: flex;
}

.order-items-quantity span {
  margin-right: 10px;
}

.order-items-price {
  margin-left: auto;
  display: flex;
}

.dollar {
  margin-right: 5px;
}

.order-item-footer-top {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  padding: 17px;
}

.order-item-footer-top h2 {
  font-size: 20px;
  font-weight: 400;
  color: #606060;
}

.total-item-counter {
  display: flex;
  margin-left: auto;
  align-items: center;
  margin-right: 125px;
}

.total-item-span {
  margin-right: 10px;
}

.footer-box {
  width: 400px;
  margin-left: auto;
}

.order-total-amount {
  display: flex;
  margin-bottom: 20px;
}

.total-item-price {
  display: flex;
  align-items: center;
}

.order-shipping {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.order-shipping-amount {
  margin-left: auto;
}

.order-voucher {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.order-voucher-amount {
  margin-left: auto;
}

.order-item-footer-bottom {
  width: 400px;
  margin-left: auto;
}

.order-sub-total {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.order-sub-total h2 {
  font-size: 26px;
  color: #606060;
  font-weight: 400;
}

.order-sub-total-amount {
  margin-left: auto;
}

.order-sub-total-amount span {
  font-size: 35px;
  font-weight: 400;
  color: #107897;
}

.order-right-content {
  width: 50%;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
}

.recipent-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 650px;
  margin-bottom: 50px;
}

.recipient-info {
  margin-bottom: 42px;
}

.recipient-info h2 {
  font-size: 25px;
  color: #606060;
  font-weight: 400;
}

.recipent-details h2 {
  font-size: 20px;
  color: #606060;
  font-weight: 400;
  margin-bottom: 10px;
}

.recipent-details h1 {
  font-size: 25px;
  color: #606060;
  font-weight: 400;
}

.recipent-destination h2 {
  font-size: 20px;
  color: #606060;
  font-weight: 400;
  margin-bottom: 10px;
}

.recipent-destination h1 {
  font-size: 25px;
  color: #606060;
  font-weight: 400;
}

.recipent-btns {
  margin-bottom: 310px;
  margin-top: 237px;
}

.recipent-btns h2 {
  font-size: 30px;
  font-weight: 400;
  color: #107897;
  margin-bottom: 3px;
}

.recipent-btns p {
  font-size: 20px;
  font-weight: 400;
  color: #606060;
}

.recipent-btn {
  border: 1px solid #107897;
  padding: 15px;
  text-align: center;
}

.btn-market {
  margin-bottom: 53px;
}

.decline-order {
  display: flex;
  align-items: center;
  margin: 0 auto;
  border: 1px solid #c4c4c4;
  background: transparent;
  padding: 15px 25px;
  border-radius: 8px;
  font-size: 25px;
  color: #606060;
  font-weight: 400;
}

.decline-order img {
  margin-right: 15px;
  width: 33px;
  height: 33px;
}

.shipping-info {
  margin-top: 68px;
}

.shipping-info-heading h2 {
  font-size: 25px;
  color: #606060;
  font-weight: 400;
  margin-bottom: 30px;
}

.shipping-info-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shipping-info-content h2 {
  font-size: 20px;
  color: #606060;
  font-weight: 400;
  margin-bottom: 10px;
}

.shipping-info-content h1 {
  font-size: 24px;
  color: #606060;
  font-weight: 400;
}

.print-label-btn {
  width: 100%;
  margin-top: 32px;
  padding: 10px 0;
  border: 1px solid #107897;
  background-color: transparent;
  font-size: 25px;
  font-weight: 400;
  color: #107897;
}

.shipping-progress-box {
  margin-top: 40px;
  position: relative;
}

.shipping-progress {
  margin-top: 73px;
}

.shipping-progress h2 {
  font-size: 25px;
  color: #606060;
  font-weight: 400;
}

.shipping-progress-content {
  display: flex;
  align-items: flex-start;
  gap: 60px;
  width: 480px;
}

.shipping-progress-img {
  position: absolute;
  top: -7%;
  left: 122px;
  height: 267px;
}

.shipping-progress-time {
  font-size: 21px;
  color: #606060;
  text-align: right;
  margin-bottom: 50px;
}

.shipping-progress-time p {
  font-size: 19px;
  color: #a4a4a4;
}

.shipping-btns {
  display: flex;
  margin-top: 60px;
}

.shipping-add-btn {
  border: 1px solid #107897;
  background-color: transparent;
  width: 30%;
  padding: 16px 0;
  font-size: 30px;
  font-weight: 300;
  color: #107897;
  margin-right: 30px;
}

.shipping-complete-btn {
  width: 70%;
  padding: 16px 0;
  font-size: 30px;
  font-weight: 300;
  color: #fff;
  background-color: #107897;
}

.ship-vendor-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.ship-vendor-top h2 {
  color: #606060;
  font-size: 25px;
  font-weight: 400;
}

.vendor-cancle-btn {
  border: 1px solid #107897;
  background: transparent;
  padding: 5px 20px;
  font-size: 20px;
  font-weight: 400;
  color: #107897;
  border-radius: 18px;
}

.vendor-dilivery-date {
  margin-bottom: 68px;
}

.vendor-dilivery-date h2 {
  font-size: 18px;
  font-weight: 400;
  color: #a3a3a3;
  margin-bottom: 17px;
}

.vendor-dilivery-box {
  border: 1px solid #c8c8c8;
  border-radius: 25px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 417px;
}

.vendor-dilivery-box h1 {
  font-size: 20px;
  font-weight: 400;
  color: #606060;
}

.vendor-new-progress h2 {
  font-size: 18px;
  font-weight: 400;
  color: #a3a3a3;
  margin-bottom: 17px;
}

.vendor-new-progress {
  min-height: 90vh;
}

.vendor-new-progress input {
  display: block;
  width: 100%;
  padding: 9px 0 9px 13px;
  border-radius: 25px;
  border: 1px solid #c8c8c8;
  font-size: 16px;
  font-weight: 400;
}

.vendor-new-progress input:not(:last-child) {
  margin-bottom: 18px;
}

.vendor-new-progress input::placeholder {
  color: #a3a3a3;
}

.vendor-btn-done {
  width: 240px;
  margin: 0 auto;
  display: block;
  border: none;
  background-color: #107897;
  padding: 18px 80px;
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  border-radius: 5px;
}

.size-weight-title {
  font-size: 18px;
  font-weight: 400;
  color: #a3a3a3;
  margin-bottom: 24px;
}

.package-type {
  margin-bottom: 38px;
}

.package-type h2 {
  font-size: 18px;
  font-weight: 400;
  color: #a4a4a4;
  margin-bottom: 8px;
}

.pakage-dropdown-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-radius: 25px;
  border: 1px solid #c8c8c8;
  background-color: transparent;
  font-size: 20px;
  font-weight: 400;
  color: #606060;
}

.size-weight-container {
  margin-bottom: 55px;
}

.size-inputs {
  width: 100%;
}

.input-width {
  display: flex;
  align-items: baseline;
}

.input-length {
  display: flex;
  align-items: baseline;
}

.input-height {
  display: flex;
  align-items: baseline;
}

.input-weight {
  display: flex;
  align-items: baseline;
}

.size-weight-box {
  display: flex;
  max-width: 820px;
  gap: 40px;
  margin: 0 auto;
}

.size-weight-box img {
  object-fit: contain;
}

.size-inputs input {
  padding: 15px 0 15px 30px;
  border-radius: 25px;
  border: 1px solid #c7c7c7;
  margin-right: 20px;
  font-size: 20px;
  color: #b5b5b5;
}

.size-inputs input:not(:last-child) {
  margin-bottom: 22px;
}

.size-inputs input::-webkit-outer-spin-button,
.size-inputs input::-webkit-inner-spin-button {
  display: none;
}

.size-inputs button {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  font-size: 22px;
  color: #606060;
  font-weight: 300;
}

.size-inputs button span {
  margin-right: 11px;
}

.input-height span {
  color: #a3a3a3;
}

.input-length span {
  color: #a3a3a3;
}

.delivery-box {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-bottom: 43px;
}

.delivery-date {
  width: 50%;
}

.delivery-date h2 {
  font-size: 18px;
  font-weight: 400;
  color: #a4a4a4;
  margin-bottom: 17px;
}

.delivery-date button {
  border: 1px solid #c8c8c8;
  background: transparent;
  font-size: 20px;
  width: 100%;
  padding: 10px 19px;
  border-radius: 25px;
  color: #606060;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delivery-price {
  width: 50%;
}

.delivery-price h2 {
  font-size: 18px;
  font-weight: 400;
  color: #a4a4a4;
  margin-bottom: 17px;
}

.delivery-price button {
  border: 1px solid #c8c8c8;
  background: transparent;
  font-size: 20px;
  width: 100%;
  padding: 17px 19px;
  border-radius: 25px;
  color: #b5b5b5;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delivery-price .currency {
  font-size: 18px;
  font-weight: 400;
  color: #a4a4a4;
  margin-bottom: 0;
}

.shipment-title {
  font-size: 18px;
  color: #a3a3a3;
  font-weight: 400;
  margin-bottom: 18px;
}

.package-mail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f4f4f4;
  padding: 12px 7px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.library-mail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f4f4f4;
  padding: 12px 7px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.priority-mail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f4f4f4;
  padding: 12px 7px;
  border-radius: 5px;
}

.package-left-content {
  display: flex;
  align-items: center;
}

.library-left-content {
  display: flex;
  align-items: center;
}

.priority-left-content {
  display: flex;
  align-items: center;
}

.shipment-suggest-box img {
  object-fit: contain;
  margin-right: 11px;
}

.shipment-suggest-box span {
  font-size: 20px;
  font-weight: 400;
  color: #606060;
}

.shipment-suggest-box button {
  border: none;
  background: #107897;
  border-radius: 5px;
  color: #fff;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 400;
}

.span-days {
  margin-right: 74px;
}

.span-price {
  margin-right: 32px;
}

.pos-container {
  max-width: 100%;
  display: flex;
  padding: 30px;
  gap: 30px;
}

.pos-container-left-content {
  width: 63%;
}

.pos-top-content {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.pos-checkout-btn {
  border: none;
  background: #107897;
  padding: 8px 35px;
  color: #fff;
  font-size: 28px;
  font-weight: 400;
  border-radius: 5px;
  margin-right: 18px;
}

.pos-checkout-btn span {
  font-size: 20px;
  margin-left: 5px;
}

.pos-pickup-btn {
  border: 1px solid #cccccc;
  background: transparent;
  padding: 8px 28px;
  font-size: 28px;
  font-weight: 400;
  color: #107897;
}

.pos-pickup-btn span {
  font-size: 20px;
  margin-left: 5px;
}

.pos-btns-left {
  margin-right: 147px;
  display: flex;
}

.pos-btns-right {
  display: flex;
}

.pos-drop-btn {
  border: 1px solid #cccccc;
  padding: 10px 16px;
  font-size: 20px;
  font-weight: 400;
  margin-right: 25px;
  border-radius: 25px;
  background-color: transparent;
  color: #606060;
  display: flex;
  align-items: center;
}

.pos-drop-btn img {
  margin-left: 10px;
}

.pos-search-btn {
  border: none;
  background-color: transparent;
  margin-right: 25px;
}

.pos-checkout-btn-light {
  position: relative;
  border: 1px solid #107897;
  font-size: 20px;
  font-weight: 400;
  background: transparent;
  border-radius: 25px;
  padding: 10px 17px 10px 75px;
  color: #606060;
}

.pos-checkout-btn-light span {
  background: #107897;
  padding: 2px 15px;
  font-size: 40px;
  border-radius: 50%;
  color: #fff;
  position: absolute;
  top: -1%;
  left: 0;
}

.receipt-detail-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 50px 16px 20px;
  border-radius: 10px;
}

.receipt-detail-box:not(:last-child) {
  margin-bottom: 20px;
}

.receipt-id {
  display: flex;
  align-items: center;
  margin-right: 108px;
}

.receipt-id img {
  margin-right: 17px;
  width: 30px;
  height: 30px;
}

.receipt-id h2 {
  font-size: 20px;
  font-weight: 400;
  color: #606060;
}

.receipt-customer {
  display: flex;
  align-items: center;
  margin-right: 170px;
}

.receipt-customer-img {
  margin-right: 10px;
  border: 1px solid #b3b3b3;
  border-radius: 50%;
  padding: 16px 17px;
}

.receipt-customer h2 {
  font-size: 24px;
  font-weight: 400;
  color: #606060;
  margin-bottom: 5px;
}

.receipt-customer p {
  font-size: 20px;
  font-weight: 400;
  color: #b3b3b3;
}

.receipt-items {
  text-align: center;
  margin-right: 120px;
}

.receipt-items h2 {
  font-size: 20px;
  font-weight: 400;
  color: #b3b3b3;
  margin-bottom: 5px;
}

.receipt-items p {
  font-size: 24px;
  font-weight: 400;
  color: #107897;
}

.receipt-total h2 {
  font-size: 20px;
  font-weight: 400;
  color: #b3b3b3;
  margin-bottom: 5px;
}

.receipt-total p {
  font-size: 24px;
  font-weight: 400;
  color: #107897;
}

.receipt-code h3 {
  font-size: 20px;
  font-weight: 400;
  color: #b3b3b3;
  margin-bottom: 5px;
}

.receipt-person-img {
  margin-right: 10px;
}

.pos-container-bg-white {
  background-color: #f4f4f4;
}

.receipt-detail-box-bg-white {
  background-color: #ffffff;
}

.pos-container-right-content {
  background-color: #fff;
  padding: 22px 30px;
  width: 37%;
  border-radius: 8px;
  position: relative;
}

.pos-right-content-title {
  font-size: 26px;
  font-weight: 400;
  color: #606060;
  margin-bottom: 30px;
  text-align: center;
}

.input-phone-number-box {
  position: relative;
}

.input-search-icon {
  position: absolute;
  top: 18px;
  left: 19px;
}

.input-dropdown-icon {
  position: absolute;
  top: 25px;
  right: 25px;
}

.input-phone-number-box input {
  padding: 15px 20px 15px 50px;
  width: 100%;
  border: 1px solid #cccccc;
  border-radius: 25px;
  font-size: 24px;
  font-weight: 400;
  color: #adadad;
}

.pos-right-content-box {
  min-height: 70vh;
}

.barcode-box {
  width: 240px;
  height: 240px;
  margin: 0 auto 257px auto;
}

.customer-contact-info {
  border: 1px solid #cccccc;
  max-width: 100%;
  border-radius: 10px;
  margin-top: 10px;
}

.customer-contact-btns {
  padding: 10px 0;
  background-color: #107897;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.customer-hr-line {
  width: 1px;
  height: 53px;
  background-color: #fff;
}

.new-customer-btn {
  border: none;
  background: transparent;
  margin-right: 90px;
  color: #fff;
  font-size: 22px;
  font-weight: 400;
}

.customer-checkout-btn {
  border: none;
  background: transparent;
  margin-left: 90px;
  color: #fff;
  font-size: 22px;
  font-weight: 400;
}

.pos-right-customer {
  display: flex;
  align-items: center;
  padding: 30px 19px;
  position: relative;
}

.pos-right-customer::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 90%;
  height: 1px;
  background-color: #cccccc;
  transform: translate(-50%, 0);
}

.pos-customer-person-img {
  width: 90px;
  height: 90px;
  object-fit: contain;
  margin-right: 12px;
}

.pos-right-customer-name {
  margin-bottom: 9px;
}

.pos-right-customer-name h2 {
  font-size: 24px;
  font-weight: 400px;
  color: #107897;
}

.pos-right-customer-number {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.pos-right-customer-number img {
  margin-right: 19px;
}

.pos-right-customer-number p {
  font-size: 18px;
  font-weight: 400;
  color: #606060;
}

.pos-right-customer-address {
  display: flex;
  align-items: center;
}

.pos-right-customer-address img {
  margin-right: 19px;
}

.pos-right-customer-address p {
  font-size: 18px;
  font-weight: 400;
  color: #606060;
}

.pos-barcode {
  margin: 300px auto 257px auto;
}

.pos-container-p-0 {
  padding: 0;
}

.pos-right-title-m-0 {
  margin: 0;
}

.pos-right-title-bg {
  padding: 22px 30px;
  background: linear-gradient(to bottom, #e4e4e4, #fff);
  margin-bottom: 10px;
  border-bottom: 1px solid #c7c7c7;
}

.pos-right-content-box {
  padding: 25px 30px;
}

.pos-name-inputs {
  display: flex;
  gap: 22px;
  margin-bottom: 30px;
}

.first-name-input {
  width: 50%;
}

.first-name-input h2 {
  font-size: 16px;
  font-weight: 400;
  color: #a3a3a3;
  margin-bottom: 5px;
}

.first-name-input input {
  padding: 8px 24px;
  border: 1px solid #c7c7c7;
  border-radius: 25px;
  color: #a3a3a3;
  width: 100%;
}

.first-name-input input::placeholder {
  color: #a3a3a3;
}

.last-name-input {
  width: 50%;
}

.last-name-input h2 {
  font-size: 16px;
  font-weight: 400;
  color: #a3a3a3;
  margin-bottom: 5px;
}

.last-name-input input {
  padding: 8px 24px;
  border: 1px solid #c7c7c7;
  border-radius: 25px;
  color: #a3a3a3;
  width: 100%;
}

.last-name-input input::placeholder {
  color: #a3a3a3;
}

.pos-customer-input-number {
  margin-bottom: 28px;
}

.pos-customer-input-number h2 {
  font-size: 16px;
  font-weight: 400;
  color: #a3a3a3;
  margin-bottom: 5px;
}

.pos-customer-input-number input {
  width: 100%;
  padding: 8px 24px;
  border: 1px solid #c7c7c7;
  border-radius: 25px;
  color: #a3a3a3;
}

.pos-customer-input-number input::placeholder {
  color: #a3a3a3;
}

.pos-customer-shipping-address h2 {
  font-size: 16px;
  font-weight: 400;
  color: #a3a3a3;
  margin-bottom: 5px;
}

.pos-customer-shipping-address input {
  width: 100%;
  padding: 8px 24px;
  border: 1px solid #c7c7c7;
  border-radius: 25px;
  color: #a3a3a3;
}

.pos-customer-shipping-address input::placeholder {
  color: #a3a3a3;
}

.pos-customer-btns {
  display: flex;
  align-items: center;
  padding: 0 25px 25px 25px;
}

.pos-customer-cancel-btn {
  display: inline-block;
  margin-right: 76px;
  width: 10%;
}

.pos-customer-cancel-btn button {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
}

.pos-customer-cancel-btn img {
  margin-right: 11px;
}

.pos-customer-cancel-btn span {
  font-size: 24px;
  font-weight: 400;
  color: #107897;
}

.pos-customer-save-btn {
  border: 1px solid #107897;
  background-color: transparent;
  padding: 14px 0;
  width: 90%;
  display: inline-block;
  font-size: 27px;
  font-weight: 400;
  color: #107897;
}

.pos-discount-search-box {
  position: relative;
  border-bottom: 2px solid #f0f0f0;
  padding-bottom: 34px;
}

.pos-discount-search-box input {
  padding: 14px 18px;
  border: 1px solid #c7c7c7;
  border-radius: 25px;
  width: 100%;
}

.pos-discount-search-box input::placeholder {
  font-size: 19px;
  font-weight: 400;
  color: #d1d1d1;
}

.pos-discount-search-box img {
  position: absolute;
  top: 12px;
  right: 18px;
}

.pos-customer-discount-card {
  border-bottom: 2px solid #f0f0f0;
  padding: 22px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pos-customer-discount-card h2 {
  color: #606060;
  font-size: 24px;
  font-weight: 400;
}

.pos-customer-discount-card span {
  color: #ff2ba6;
  font-size: 24px;
  font-weight: 400;
}

.pos-discount-name-search {
  margin-bottom: 34px;
}

.pos-discount-name-search h2 {
  color: #a3a3a3;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 5px;
}

.pos-discount-name-search input {
  padding: 14px 24px;
  border-radius: 25px;
  border: 1px solid #c7c7c7;
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  color: #b5b5b5;
}

.pos-discount-name-search input::placeholder {
  color: #b5b5b5;
}

.pos-discount-type-input {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.pos-discount-type-drop-input {
  width: 50%;
}

.pos-discount-type-drop-input h2 {
  color: #a3a3a3;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 5px;
}

.pos-discount-type-dropdown {
  width: 100%;
  padding: 8px 0 8px 24px;
  border: 1px solid #c7c7c7;
  border-radius: 25px;
}

.pos-discount-percent-input {
  width: 50%;
  position: relative;
}

.pos-discount-percent-input h2 {
  color: #a3a3a3;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 5px;
}

.pos-discount-percent-input input {
  width: 100%;
  padding: 8px 0 8px 24px;
  border: 1px solid #c7c7c7;
  border-radius: 25px;
}

.pos-discount-percent-input span {
  position: absolute;
  right: 23px;
  top: 30px;
}

.pos-customer-checkout-profile {
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  padding: 16px 22px;
  border-radius: 6px;
  margin-bottom: 20px;
}

.pos-customer-checkout-profile img {
  margin-right: 28px;
}

.pos-customer-checkout-profile h2 {
  color: #606060;
  font-size: 27px;
  font-weight: 400;
  margin-right: 5px;
}

.pos-customer-checkout-profile p {
  color: #b3b3b3;
  font-size: 20px;
  font-weight: 400;
}

.pos-customer-checkout-profile button {
  border: none;
  background: transparent;
  margin-left: auto;
}

.pos-customer-checkout-profile button img {
  margin-right: 0;
}

.pos-customer-checkout-product-box {
  display: flex;
  align-items: center;
}

.pos-customer-checkout-product {
  height: 70vh;
}

.pos-customer-checkout-product-box:not(:last-child) {
  margin-bottom: 16px;
}

.pos-product-img {
  border: 1px solid #b3b3b3;
  margin-right: 17px;
}

.pos-product-img {
  position: relative;
}

.pos-product-main-img {
  width: 60px;
  height: 60px;
}

.pos-product-cross-img {
  position: absolute;
  top: -10%;
  right: -10%;
  width: 10px;
  height: 10px;
}

.pos-product-info {
  width: 245px;
}

.pos-product-info h2 {
  color: #606060;
  font-size: 20px;
  font-weight: 300;
}

.pos-product-dropdown {
  margin-left: auto;
  color: #107897;
  border: 1px solid #c7c7c7;
  display: flex;
  align-items: center;
  gap: 17px;
  justify-content: center;
  padding: 8px 15px;
  border-radius: 18px;
  margin-right: 46px;
}

.pos-product-total h2 {
  color: #606060;
  font-size: 24px;
  font-weight: 400;
}

.pos-product-discount {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #a3a2a2;
  padding-bottom: 15px;
  margin-bottom: 16px;
}

.pos-product-discount img {
  margin-right: 20px;
}

.pos-product-discount span {
  color: #606060;
  font-size: 20px;
  font-weight: 400;
}

.pos-product-discount-span {
  margin-left: auto;
}

.pos-product-scan-search-btns-box {
  display: flex;
  align-items: center;
  gap: 20px;
}

.pos-product-scan-search-btns-box button {
  border: 1px solid #107897;
  background-color: transparent;
  display: flex;
  align-items: center;
  padding: 8px 10px;
  width: 50%;
  border-radius: 6px;
  margin-bottom: 27px;
}

.pos-product-scan-search-btns-box img {
  width: 21px;
  height: 21px;
  object-fit: contain;
  margin-right: 20px;
}

.pos-product-scan-search-btns-box span {
  font-size: 27px;
  font-weight: 400;
  color: #107897;
}

.pos-product-checkout-footer-prices {
  padding: 20px 0;
  border-top: 1px solid #a3a2a2;
  border-bottom: 1px solid #a3a2a2;
  margin-bottom: 13px;
}

.pos-product-customer-sub-total {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.pos-product-customer-sub-total h2 {
  font-size: 23px;
  font-weight: 400;
  color: #979696;
}

.pos-product-customer-sub-total h1 {
  font-size: 27px;
  font-weight: 400;
  color: #606060;
  margin-left: auto;
}

.pos-product-customer-new-customer-discount {
  display: flex;
  align-items: center;
}

.pos-product-customer-new-customer-discount h2 {
  font-size: 23px;
  font-weight: 400;
  color: #ff2ba6;
}

.pos-product-customer-new-customer-discount h1 {
  font-size: 27px;
  font-weight: 400;
  color: #ff2ba6;
  margin-left: auto;
}

.pos-product-checkout-balance {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.pos-product-checkout-balance h1 {
  text-transform: uppercase;
}

.pos-product-checkout-balance h1,
.pos-product-checkout-balance span {
  font-size: 35px;
  font-weight: 400;
  color: #107897;
}

.pos-product-checkout-balance span {
  margin-left: auto;
}

.pos-product-checkout-footer-ds-btns {
  display: flex;
  align-items: center;
  gap: 22px;
  margin-bottom: 20px;
}

.pos-product-checkout-footer-ds-btns button {
  padding: 10px;
  width: 50%;
  border-radius: 6px;
  background: transparent;
  border: 1px solid #107897;
  font-size: 27px;
  font-weight: 400;
  color: #107897;
  text-transform: uppercase;
}

.pos-product-checkout-footer-charge-btn {
  background-color: #107897;
  border-radius: 11px;
  width: 100%;
  border: none;
  font-size: 35px;
  font-weight: 400;
  color: #fff;
  padding: 10px;
  text-transform: uppercase;
}

.pos-right-order-box {
  position: absolute;
  top: 10px;
  right: 20px;
}

.pos-right-order-box button {
  border: none;
  background-color: transparent;
}

.heading-m-auto {
  margin: 0 auto !important;
}

@media screen and (max-width: 1900px) {
  .customer-message-container {
    width: 500px;
  }
}

@media screen and (max-width: 1855px) {
  .customer-message-box {
    width: 1050px;
  }

  .img-box {
    width: 130px;
    height: 140px;
  }

  .sample-box {
    margin-right: 18px;
  }

  .sample-box a {
    padding: 10px;
    font-size: 12px;
    line-height: 17px;
  }

  .message-input-box input {
    padding: 17px 12px;
  }
}

@media screen and (max-width: 1800px) {
  .customer-message-box {
    width: 1000px;
  }

  .message-input-box {
    width: 750px;
  }
}

@media screen and (max-width: 1750px) {
  .customer-message-box {
    width: 950px;
  }

  .ads-badge {
    margin-right: 17px;
  }

  .img-box {
    margin-right: 15px;
  }

  .message-input-box {
    width: 700px;
  }
}

@media screen and (max-width: 1700px) {
  .customer-message-box {
    width: 900px;
  }

  .img-box {
    width: 100px;
    height: 120px;
  }

  .message-input-box {
    width: 650px;
  }
}

@media screen and (max-width: 1651px) {
  .customer-message-box {
    width: 890px;
  }

  .customer-message-container {
    width: 450px;
  }

  .customer-name {
    font-size: 18px;
  }

  .customer-message {
    font-size: 16px;
  }

  .date {
    font-size: 14px;
  }
}

@media screen and (max-width: 1600px) {
  .customer-message-container {
    width: 400px;
  }
}

@media screen and (max-width: 1550px) {
  .customer-message-container {
    width: 360px;
  }
}

@media screen and (max-width: 1500px) {
  .customer-message-container {
    width: 360px;
  }

  .customer-message-box {
    width: 820px;
  }

  .ads-heading {
    font-size: 16px;
    line-height: 18px;
  }

  .ads-text {
    font-size: 12px;
    line-height: 15px;
    width: 250px;
  }

  .ads-ratings {
    margin-right: 10px;
  }

  .img-box {
    width: 90px;
    height: 110px;
  }

  .message-input-box {
    width: 590px;
  }

  .message-input-box input::placeholder {
    font-size: 16px;
  }
}
